.title_text{
	color: #ffffff;
	text-shadow:2px 2px 4px #000000;
	font-size:20px;
}

.title_category_text{
	background:#000262;
	background: -webkit-linear-gradient( to right, #000262, #fb9733);
	background: linear-gradient(to right,#000262,#fb9733);
	-webkit-background-clip: text;
	background-clip:text;
        color:transparent;
	font-size:25px;
}

.sub_title_text{
       color:#000000;
}


.self_store_info_container{
    display: grid; 
    grid-template-columns: 15% 25% 20% 20% 20%;
    justify-content: center;
    border-left: 10px solid #FFA600;
    margin-top:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rank_number{
   color:#ffffff;
   text-shadow:2px 2px 4px #000000;
   font-size:100px;
}

.store_info_div{
   padding:10px;
}

.store_data_div{
   border-left: 2px solid #FFA600;
   padding:10px;
}

.best_seller_name{
  font-size:20px;
}

.store_data_name{
   padding-left:10px;
   background-color: lightgrey;
   font-weight: bold;
   font-size:10px;
}

.store_data_number{
  color: #FFA600;
  font-weight: bold;
  font-size:40px;
}

.badge_arrow_up{
  background-color:#009933;
  margin-top:10px;
  width:25px;
  height:15px;
  text-align: center;
}

.badge_arrow_down{
  background-color:#ff0000;
  margin-top:10px;
  width:25px;
  height:15px;
  text-align: center;
}

.badge_arrow_same{
  background-color:#787878;
  margin-top:10px;
  width:25px;
  height:15px;
  text-align: center;
}

.top_10_text{
 margin-left:5px;
 border-radius: 10px;
 background-color: #FFA600;
 width:200px;
 text-align: center;
 color:#000033;
 font-size:15px;
 margin-top:20px;
 font-weight: 600;
}

.best_seller_data_container{
  display: flex;
  flex-direction: row;
}

.self_div_best_seller{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  display: flex;
  align-items: center;
  width:150px;
  height:260px;
}




@media (max-width: 600px) {

.self_store_info_container {
     display: flex;
     flex-direction: column;
}

.store_info_div{
 margin-bottom:0px;
}

.best_seller_name{
 padding-bottom:0px;
}

.store_data_div{
 border-style: none;
 height:60px;
 margin:0px;
}

.store_data_name{
 font-size:8px;
 margin:0px;
}

.store_data_number{
 font-size:15px;
 margin:0px;
}
