.div-affiliates{
margin-left:5%;
}


.container-fluid {
display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.card-size-style{
border-top: 8px solid #FFB300;
background-color: #ffffff;
width: 25rem; 
padding:10px;
margin:10px;
box-shadow: 0px 0px 6px 0px #848484;
}


.card-content-number{
font-size: 45px;
font-family: Arial,  sans-serif;
font-weight: bold;
padding-left:5px;
color:22345C;
}

.card-content-title{
font-size: 30px;
font-family: Arial,  sans-serif;
font-weight: bold;
}



@media (max-width: 600px) {
.container-fluid {
flex-direction: column;

}

.card-size-style{
width: 30rem; 
}

}

