  .self_div_container{
	border-left: 10px solid #FFA600;
	margin-top:15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: none;
}

.self_div_best_seller{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	justify-content: center;
	display: flex;
	align-items: center;
	width:150px;
	height:260px;
}

.title_text{
	color: #ffffff;
	text-shadow:2px 2px 4px #000000;
	font-size:20px;
}

.title_category_text{
	background:#000262;
	background: -webkit-linear-gradient( to right, #000262, #fb9733);
	background: linear-gradient(to right,#000262,#fb9733);
	-webkit-background-clip: text;
	background-clip:text;
        color:transparent;
	font-size:25px;
}

.sub_title_text{
       color:#000000;
}

.top_10_text{
        border-radius: 10px;
        background: #bdbdbd;
        width:200px;
        text-align: center;
	color:#000080;
	font-size:15px;
	margin-top:20px;
        font-weight: 600;
}

.best_seller_div{
  display: flex;
  flex-direction: row;
flex-wrap:nowrap;
	overflow: visible;
}

.rank_number{
	color:#ffffff;
	text-shadow:2px 2px 4px #000000;
	font-size:100px;
}

.best_seller_name{
margin-top:30px;
	font-size:20px;
}

.badge_arrow{
background-color:#009933;
margin-top:10px;
width:25px;
height:15px;
text-align: center;
}

.last_month_pos{
margin-top:10px;
 width:200px;
font-size:10px;
}


.bottom_button{
  position: absolute;
  bottom: 30px;
}


#loadmore {
margin: 30px auto 30px;
display: table;
}



.self_div_container:nth-child(1) {
display: block;
}

.self_div_container:nth-child(2) {
display: block;
}

.self_div_container:nth-child(3) {
display: block;
}

.self_div_container:nth-child(4) {
display: block;
}

.self_div_container:nth-child(5) {
display: block;
}

.self_div_container:nth-child(6) {
display: block;
}

.self_div_container:nth-child(7) {
display: block;
}

@media(max-width:600px){
.best_seller_div{
  flex-direction: column;
  flex-wrap: wrap;
}

.best_seller_name{
margin-top:15px;
}

.badge_arrow{
margin-top:30px;
}
