.product-heading{
  font-family: Arial,sans-serif; 
  font-size: 16px; 
  font-style: normal;  
  color: #000000;
  text-align: left;
}

.product-text{
  font-family: Arial,sans-serif; 
  font-size: 14px; 
  font-style: normal;  
  text-align: left;
}


