.flex-container {
max-width:100%;
justify-content: center;
}

.parallax-box {
box-shadow: 0px 0px 6px 0px #848484;
vertical-align:middle;
margin:10px;
}

.card-size-style{
width: 25rem; 
padding:10px;
}


@media (max-width: 600px) {
.card-size-style{
width: 30rem; 
}

}
}
