

.best_seller_div{
box-shadow: 0px 0px 6px 0px #848484;
padding:5px;
width:250px;
height:400px;
margin:5px;
}

.div_container{
position: relative;  
}  
  
.img_responsive {
  width: 100%;
  height: auto;
}

.bottom_button{
  position: absolute;
  bottom: 5px;
}
