.product-heading{
  font-family: Arial,sans-serif; 
  font-size: 25px; 
  font-style: normal;  
  color: #000000;
  text-align: left;
}

.product-text{
  font-family: Arial,sans-serif; 
  font-size: 20px; 
  font-style: normal;  
  text-align: left;
}

.product-image{
  width:100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
