.title_text{
	color: #ffffff;
	text-shadow:2px 2px 4px #000000;
	font-size:20px;
}

.title_category_text{
	background:#000262;
	background: -webkit-linear-gradient( to right, #000262, #fb9733);
	background: linear-gradient(to right,#000262,#fb9733);
	-webkit-background-clip: text;
	background-clip:text;
        color:transparent;
	font-size:25px;
}

.sub_title_text{
       color:#000000;
}

.best_selling_store_container{
    display: grid; 
    grid-template-columns: 10% auto auto auto auto;
    align-content: flex-start;
    border-left: 10px solid #FFA600;
    margin-top:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.rank_number{
   color:#ffffff;
   text-shadow:2px 2px 4px #000000;
   font-size:100px;
   padding-bottom:20px;
}

.last_month_rank{
  font-weight: bold;
}

.badge_arrow_up{
  background-color:#009933;
  width:25px;
  height:15px;
  text-align: center;
}

.badge_arrow_down{
  background-color:#ff0000;
  width:25px;
  height:15px;
  text-align: center;
}

.badge_arrow_same{
  background-color:#787878;
  width:25px;
  height:15px;
  text-align: center;
}

.category_name{
  margin:5px;
  padding-left:5px;
  font-size:20px;
}

.category_name_box{
 margin:5px;
 padding:2px;
 border-radius: 10px;
 border: 2px solid #FFA600;
 width:150px;
 color:#000000;
 font-size:15px;
 font-weight: bold;
}

.store_data_name{
   width:150px;
   margin:5px;
   border-radius: 10px;
   border: 2px solid #FFA600;
   padding:2px;
   font-weight: bold;
   font-size:15px;
}

.store_data_number{
  padding:2px;
  color: #FFA600;
  font-weight: bold;
  font-size:30px;
}

.top_10_product_text{
 margin-left:5px;
 border-radius: 10px;
 background-color: #FFA600;
 width:200px;
 text-align: center;
 color:#000033;
 font-size:15px;
 margin-top:20px;
 font-weight: 600;
}

.best_seller_data_container{
  display: flex;
  flex-direction: row;
}

.self_div_best_seller{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: center;
  margin:10px;
  width:150px;
  height:300px;
  position:relative;
}

.best_seller_img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.best_seller_name{
  font-size:13px;
  word-wrap: break-word;
  width: 150px; 
}

.best_seller_button{
 position: absolute;
 bottom:0px;
 width:100%;
}

@media (max-width: 600px) {

.best_selling_store_container {
     display: flex;
     flex-direction: column;
}

.store_info_container{
     display: flex;
     flex-direction: column;
}

}
