<style>
.store_div{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:5px;
width:250px;
height:400px;
}

.store_info_div{
padding-top:2px;
}

.store_button_div{
padding-top:5px;
}


</style>
