.img_responsive {
  width: 100%;
  height: auto;
}

.list-size{
width:250px;
height:400px;
margin:5px;
position: relative; 
}

.bottom_button{
  position: absolute;
  bottom: 5px;
}

.title_div{
  position: absolute;
  top: 60%;
}

.list-element {
box-shadow: 0px 0px 6px 0px #848484;
display: none;
padding:5px;
}

#loadmore {
margin: 50px auto 0px;
display: table;
}

.list .list-element:nth-child(1) {
display: block;
}
.list .list-element:nth-child(2) {
display: block;
}
.list .list-element:nth-child(3) {
display: block;
}
.list .list-element:nth-child(4) {
display: block;
}
.list .list-element:nth-child(5) {
display: block;
}

.list .list-element:nth-child(6) {
display: block;
}

.list .list-element:nth-child(7) {
display: block;
}

.list .list-element:nth-child(8) {
display: block;
}


.flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
margin-left: auto;
margin-right: auto;
max-width: 100%;
justify-content: center;
}


@media (max-width: 600px) {
.flex-container {
flex-direction: column;
}

.list-size{
width:350px;
height:400px;
margin:5px;
}  
  
}
