.top-10-flex-container-div {
   display: flex;
   flex-direction: column;
   width:60%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }

.top-10-title-div{
   background-color:#22345C;
   display: flex;  
   flex-flow: column wrap;
   justify-content: center;
   }

.top-10-disclaimer-div{
   background-color:#ffffff; 
   font-family: Arial,sans-serif; 
   font-size: 16px;
   font-style: normal;  
   text-align: left;
   }

.top-10-table-td-ranking{
   width:20%;
   background-color:#e6e6e6; 
   }

.top-10-table-td-product{
   width:60%;
   background-color:#e6e6e6; 
   height: 100px;
}

.top-10-table-td-info{
   width:20%;
   background-color:#e6e6e6; 
   height: 100px;
}

.top-10-title-1{
   font-family: Arial,sans-serif; 
   font-size: 32px; 
   font-style: normal;  
   color: #ffb200;
   margin-top:5px;
   }

.top-10-title-2{
   font-family: Arial,sans-serif; 
   font-size: 24px; 
   font-style: normal;  
   color: #ffb200;
   }

.top-10-title-3{
   font-family: Arial,sans-serif; 
   font-size: 24px; 
   font-style: normal;  
   color: #ffffff;
   margin-top:5px;
   }

.top-10-text{
   font-family: Arial,sans-serif; 
   font-size: 100px;
   font-style: normal;  
   color:#ffffff;
   text-shadow: 2px 2px 4px #000000;
   }

.top-10-hr{
   width:200px;
   border:10px solid #ffffff;
   } 

@media (max-width: 600px) {

.top-10-flex-container-div {
   display: flex;
   flex-direction: column;
   width:100%;
   }

.top-10-table-td{
   width:20%;
   background-color:#e6e6e6; 
   height: 100px;
   }

.top-10-table-td-product{
   width:60%;
   background-color:#e6e6e6; 
   height: 100px;
}

.top-10-table-td-info{
   width:20%;
   background-color:#e6e6e6; 
   height: 100px;
}

.top-10-title-div{
   display: flex;  
   flex-flow: column wrap;
   justify-content: center;
   }

.top-10-text{
   font-family: Arial,sans-serif; 
   font-size: 50px;
  }
}
