
.list-element {
box-shadow: 0px 0px 6px 0px #848484;
display: none;
}

#loadmore {
margin: 50px auto 0px;
display: table;
}

.list .list-element:nth-child(1) {
display: block;
}
.list .list-element:nth-child(2) {
display: block;
}
.list .list-element:nth-child(3) {
display: block;
}
.list .list-element:nth-child(4) {
display: block;
}
.list .list-element:nth-child(5) {
display: block;
}

.list .list-element:nth-child(6) {
display: block;
}

.list .list-element:nth-child(7) {
display: block;
}

.list .list-element:nth-child(8) {
display: block;
}


.flex-container {
display: flex;
flex-wrap: wrap;
flex-direction: row;
max-width:100%;
align-content: center;
}

.card-size-style{
width: 25rem; 
margin:10px;
}


@media (max-width: 600px) {
.flex-container {
flex-direction: column;
}

.card-size-style{
width: 30rem; 
}

}
